/* ==========================================================================
   2.1 Section bannière
   ========================================================================== */
#premier-titre {
    display: flex;
    justify-content: center;
}
.bouton_acceuil button{
   display: flex;
   justify-content: center;
   background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 4px 10px #eee;
   border-radius: 10px;
   display: block;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   border: none;
 }

.bouton_acceuil button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
          }

}

